.gal-space {
	width:550px;
	height:600px;
	background:url("../images/1.jpg");
	margin:75px 35px;
	position:relative;
}

.gal-border-t {
	width:100%;
	height:10px;
	position:absolute;
	top:0px;
	background:url("../images/left-d.jpg");
}

.gal-border-d {
	width:100%;
	height:10px;
	position:absolute;
	bottom:0px;
	background:url("../images/left-d.jpg");
}

.gal-border-l {
	width:10px;
	height:100%;
	position:absolute;
	left:0px;
	background:url("../images/fon2.jpg");
}

.gal-border-r {
	width:10px;
	height:100%;
	position:absolute;
	right:0px;
	background:url("../images/fon2.jpg");
}

.photos{
	width:100%;
	height:550px;
	padding-top:20px!important;
}

.inside {
	width:100%;
	height:100%;
}

.photo-preview {
	width:150px;
	height:125px;
	background:#000;
	
	position:relative;
	float:left;
	overflow:hidden;
}

.photo-preview  img {
	width:100%;
	position:absolute;
	overflow:hidden;
	margin:auto;
	z-index:1;
	top: 0; left: 0; bottom: 0; right: 0;
}

.photo-link {
	width:150px;
	height:125px;
	float:left;
	margin-left:20px;
	margin-bottom:10px;
}

.photo-preview a:hover {
	cursor:pointer;
}

.p-preview-border-t {
	width:100%;
	height:4px;
	position:absolute;
	top:0px;
	background:url("../images/left-d.jpg");
	z-index:999;
}

.p-preview-border-b {
	width:100%;
	height:4px;
	position:absolute;
	bottom:0px;
	background:url("../images/left-d.jpg");
	z-index:999;
}

.p-preview-border-l {
	width:4px;
	height:100%;
	position:absolute;
	left:0px;
	background:url("../images/fon2.jpg");
	z-index:999;
}

.p-preview-border-r {
	width:4px;
	height:100%;
	position:absolute;
	right:0px;
	background:url("../images/fon2.jpg");
	z-index:999;
}